<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'spotlight/style.css' %}">

</head>
<body>

<div class="container">
  <ul class="nav navbar-dark bg-dark">
      <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'queue' %}">Lauren's Page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'upload' %}">Upload</a>
    </li>
  </ul>

  {% block content %}
  {% endblock %}
</div>
</body>
</html>